# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.pyo

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variables de entorno
.env
.env.*

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/

# IDEs / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db